.about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center;
}

.about .about-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
}

.about .about-title {
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 0.5rem;
}

.about .about-title-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0.5rem;
}

.about .about-title-content p {
    font-family: ClickerScript-Regular;
    font-size: 2.5rem;
    margin: 0;
}

.about .about-social {
    display: flex;
    place-items: center;
    gap: 0.7rem;
}

.about .about-social img {
    height: 2.5rem;
    background-color: var(--main-dark);
    border-radius: 50%;
    padding: 0.4rem;
    transition: 0.4s;
}

.about .about-social img:hover {
    background-color: rgb(72, 112, 67);
    cursor: pointer;
}

.about .logo {
    max-width: 20rem;
}

.about .main-profile-img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 20px;
    object-position: bottom;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.about .mayu-catchphrase {
    font-family: Amatic-Bold;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    /* margin-block: 2rem; */
}

.about .about-sum-content .about-sum {
    margin: 0;
    text-align: center;
    font-family: Fredoka-Light;
    font-size: 1rem;
}

.about .about-sum-content .about-sum-title {
    font-family: Amatic-Bold;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.about .about-butterfly {
    max-width: 3rem;
    height: auto;
}

.about .about-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.about .about-gallery img {
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.about .about-gallery img:first-of-type {
    object-position: left;    
}

.about .about-gallery img:nth-of-type(2) {
    object-position: right;    
}


@media (max-width: 768px) {
    .about .about-top {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .about .main-profile-img {
        mask-image: none;
        border-radius: 50% 50% 0 0 / 80% 80% 10% 10%;
    }

    .about .about-title .logo {
        max-width: 10rem;
    }

    .about .about-title-content p {
        font-size: 1.5rem;
    }
}