.app-header {
    z-index: 5;
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);

    font-family: Amatic-Regular;
    background-color: rgba(255, 255, 255, 30%);
    margin-block-end: 2rem;
}

.app-header>* {
    grid-column: 2;
}

.app-header.scrolled {
    background-color: rgb(255, 255, 245);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.app-header .app-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header .logo {
    max-height: 3.5rem;
    width: auto;

    margin-block: 0.5rem;
}

.app-header .logo:hover {
    cursor: pointer;
}

.app-header nav {
    display: flex;
    gap: 2rem;
    place-items: center;

    height: 100%;

    font-size: 1.4rem;
}

.app-header nav a {
    position: relative;
    display: flex;
    place-items: center;
    height: 100%;
}

.app-header nav a:hover {
    cursor: pointer;
}

.app-header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(36, 28, 28, 0.6);
    width: 100%;
    height: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.app-header nav a:hover::after {
    visibility: visible;
    opacity: 1;
}

.hamburger-icon {
    display: none;
    font-size: 2rem;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 5rem;
    background-color: rgb(255, 255, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu hr {
    width: 90%;
    border: none;
    border-bottom: 0.5px solid var(--main-dark);
    margin: 0;
    margin: auto;
}

.menu-items {
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-items a {
    padding: 1rem;
    padding-inline: 2rem;
}

.menu-items a:hover {
    height: 100%;
    cursor: pointer;
    background-color: rgb(253, 253, 229);
}

@media (max-width: 700px) {
    .app-header nav {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
}