.app-header {
    z-index: 5;
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);

    font-family: Amatic-Regular;
    background-color: rgba(255, 255, 255, 30%);
    margin-block-end: 2rem;
}

.app-header>* {
    grid-column: 2;
}

.app-header.scrolled {
    background-color: rgb(255, 255, 245);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.app-header .app-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header .logo {
    max-height: 3.5rem;
    width: auto;

    margin-block: 0.5rem;
}

.app-header .logo:hover {
    cursor: pointer;
}

.app-header nav {
    display: flex;
    gap: 2rem;
    place-items: center;

    height: 100%;

    font-size: 1.4rem;
}

.app-header nav a {
    position: relative;
    display: flex;
    place-items: center;
    height: 100%;
}

.app-header nav a:hover {
    cursor: pointer;
}

.app-header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(36, 28, 28, 0.6);
    width: 100%;
    height: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.app-header nav a:hover::after {
    visibility: visible;
    opacity: 1;
}