.study {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    place-items: center;
    margin-block-start: 5rem;
}

.study h1,
.study h2,
.study h3,
.study p {
    margin: 0;
    text-align: center;
}

.study h1 {
    font-family: Amatic-Bold;
    font-size: 2rem;
}

.study .study-butterfly {
    max-width: 3rem;
    height: auto;
}

.skill-slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-block-end: 5rem;
    position: relative;
}

.skill-slider .item  {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 100%;
}

.skill-slider .item h5 {
    font-family: Montserrat-Medium;
}

.skill-slider .item img {
    width: 80%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    margin: 0 auto 15px auto;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);
}

.study .item .top-img-position {
    object-position: top;
}

.study .item h2 {
    font-family: Amatic-Regular;
    font-size: 1.5rem;
    margin-block-start: 1rem;
}

.study .item h3 {
    font-family: Amatic-Regular;
    font-size: 1rem;
}

.study .item p {
    font-family: Fredoka-Light;
    max-width: 70%;
}

.study .item .study-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
}



@media (max-width: 700px) {
    .skill-slider {
        max-width: 300px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .skill-slider {
        max-width: 700px;
    }
}
